* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-image: url(../img/body.png);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* inizio header */
header {
  height: 300px;
}


.sfondo {
  border: 5px solid white;
  height: 80%;
  background-image: url(../img/sfondo.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.sfondo h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sfondo h3 {
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
/*  */

/* inizio navbar */
nav {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 60px;
}

nav ul {
  display: inline-block;
  width: 100%;
}

ul li {
  display: inline-block;
  width: 10%;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}
/*  */

/* regole contenitore per float */
main::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

/* corpo centrale della pagina */
main {
  margin: 5px 0;
}

/* macro blocco di sinistra */
.left {
  width: 20%;
  float: left;
  background-color: white;
  border-radius: 5px;
}

.left-content {
  padding: 20px;
}

.left-content img {
  width: 20%;
}

.left-content h3 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.left-content .link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: green;
}

.left-content .link:hover {
  text-decoration: underline;
}
/*  */

/* macro blocco centrale */
.middle {
  width: 50%;
  float: left;
  margin: 0 5%;
}

.middle div {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.middle h3 {
  margin-bottom: 30px;
}
/*  */

/* macro blocco di destra */
.right {
  width: 20%;
  float: left;
}

.right div {
  background-color: white;;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
}

.widget h3 {
  margin-bottom: 30px;
}
/*  */

/* fine corpo centrale della pagina */

/* inizio footer */
footer {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

footer span {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* regole contenitore per float */
#social-button-footer::after {
  content: "";
  display: table;
  clear: both;
}
/*  */

.social-button {
  text-align: center;
  width: calc(100% / 3);
  float: left;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
/*  */
